<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Easy fly | Search</title>
    <link rel="stylesheet" href="../static/nav_bar.css">
    <link rel="stylesheet" href="../static/link.css">
    <link rel="stylesheet" href="../static/search_box.css">
    <link rel="stylesheet" href="../static/mult_search_box.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="../static/S.ico" /> -->
</head>

<body>
    <div class="menu_bar">
        <!-- <img src="img/logo.png" class="logo"> -->
        <ul>
            <li class="active"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            <!--<li><a href="/hello/prediction/"><i class="fa fa-plane" aria-hidden="true"></i>Prediction</a>
            </li>-->
            <li><a href="/hello/airport/"><i class="fa fa-map-marker icon-large" aria-hidden="true"></i>Airports</a>
                <!-- <div class="sub_menu1">
                    <ul>
                        <li><a href="#">Sub 1</a></li>
                        <li><a href="#">Sub 2</a></li>
                    </ul>
                </div> -->
            </li>
            <li><a href="/hello/airline/"><i class="fa fa-paper-plane" aria-hidden="true"></i>Airlines</a>
                <!-- <div class="sub_menu1">
                    <ul>
                        <li><a href="#">Sub 1</a></li>
                        <li><a href="#">Sub 2</a></li>
                    </ul>
                </div> -->
            </li>
            <li><a href="/hello/aircraft/"><i class="fa fa-plane" aria-hidden="true"></i>Aircrafts</a>
                <!-- <div class="sub_menu1">
                    <ul>
                        <li><a href="#">Sub 1</a></li>
                        <li><a href="#">Sub 2</a></li>
                    </ul>
                </div> -->
            </li>
            <li class="user_profile"><a href="/hello/user/"><i class="fa fa-user-circle" aria-hidden="true"></i>User
                    Center</a>
                <div class="sub_menu_logout">
                    <ul>
                        <li><a href="/hello/logout/">Log out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <script>
        var navbar = document.getElementById("navbar");
        var menu = document.getElementById("menu");

        window.onscroll = function () {
            if (window.pageYOffset >= menu.offsetTop) {
                navbar.classList.add("sticky");
            } else {
                navbar.classList.remove("sticky")
            }
        }
    </script>

    <form action="/hello/search_result/" method="POST">
        {% csrf_token %}
        {% if error_message %}
        <div class="error_message">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ error_message }}
        </div>
        {% endif %}
        <div class="wrapper">
            <div class="search_box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>

                <div class="category_box">
                    <div class="option">Flights</div>
                </div>
                <div class="search_field">

                    <input type="text" class="s_airport " name="s_origin" placeholder="ICAO of departure airport "
                        maxlength="4">
                    <!-- <a href="search_result.html">
                                            <button type="submit" class="button">Search</button>
                                        </a> -->

                </div>
            </div>

            <div class="search_box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>

                <div class="category_box">
                    <div class="option">Flights</div>
                </div>
                <div class="search_field">

                    <input type="text" class="s_airport " name="s_destination"
                        placeholder="ICAO of destination airport" maxlength="4">
                    <!-- <a href="search_result.html">
                                            <button type="submit" class="button">Search</button>
                                        </a> -->

                </div>
            </div>

            <div class="search_box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>

                <div class="category_box">
                    <!-- <div class="option">Airport</div> -->
                    <div class="option">FLIGHTS</div>
                </div>
                <div class="search_field">

                    <!-- <input type="text" class="s_airport " name="s_ICAO" placeholder="Search for an airport by ICAO"
                        maxlength="4"> -->
                    <input type="text" class="s_airport " name="s_no" placeholder="Search by Flight No."
                        maxlength="6">
                    <!-- <a href="search_result.html">
                    <button type="submit" class="button">Search</button>
                </a> -->

                </div>
            </div>

            <div class="search_box">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>


                <div class="category_box">
                    <div class="option">Airline</div>
                </div>
                <div class="search_field">

                    <input type="text" class="s_airport " name="s_airline" placeholder="Search by an airline IATA"
                        maxlength="15">
                    <!-- <a href="search_result.html">
                                <button type="submit" class="button">Search</button>
                            </a> -->

                </div>
            </div>

            <div class="search_box">
                <i class="fa fa-plane" aria-hidden="true"></i>


                <div class="category_box">
                    <div class="option">Aircrafts</div>
                </div>
                <div class="search_field">

                    <input type="text" class="s_airport " name="s_model" placeholder="Search by aircraft model"
                        maxlength="10">
                    <!-- <a href="search_result.html">
                                <button type="submit" class="button">Search</button>
                            </a> -->

                </div>
            </div>

            <div class="search_box">
                <input type="submit" value="Submit">
            </div>

        </div>
    </form>

    {% if status %}
    {% if flight_history %}
    <table id="result_table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight No.</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Take-off Time</th>
                <th>Landing Time</th>
                <th>Type</th>
                <th>Delay</th>
            </tr>
        </thead>

        {% for flt in flight_history %}
        <tr>
            <td><a href="{% url 'airlineJump' flt.airline_iata  %}">{{flt.airline_iata}}</a></td>
            <td>{{flt.flight_number}}</td>
            <td><a href="{% url 'airportJump' flt.departure  %}">{{flt.departure}}</a></td>
            <td><a href="{% url 'airportJump' flt.destination  %}">{{flt.destination}}</a></td>
            <td>{{flt.departure_time}}</td>
            <td>{{flt.arrival_time}}</td>
            <td>{{flt.aircraft_type}}</td>
            <td>{{flt.delay}}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <div class="no-result-container">
        <h2 class="no-result">No result found!</h2>
    </div>
    {% endif %}
    {% endif %}
    <!-- <script type="text/javascript">
        function butClick(){
        document.getElementById("result_table").style.display = "block";
        }
    </script> -->

</body>

</html>